.checkout-page {
  width: 100%;
  padding: 50px 150px;

  .gridThinghs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  @media screen and (max-width: 800px) {
    width: 80vw;
    margin: 20px auto 0;
  }

  .header-block {
    text-transform: capitalize;
    width: 100%;
    font-weight: bold;

    @media screen and (max-width: 800px) {
      font-size: 0.8rem;
    }

    span {
      font-family: "archwaltz";
      letter-spacing: 2px;
      // font-weight: normal;
    }

    &:last-child {
      width: 100%;
    }
  }

  .paymentdiv {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 10px;
  }

  .payment {
    background: #fafaf4;
    padding: 20px 30px;
    margin: 40px 0 0 0;
  } 

  .total {
    display: flex;
    flex-direction: column;
  }

  .total {
    margin-left: auto;

    .total-span {
      text-transform: capitalize;
      font-size: 18px;
      // font-weight: bold;
      font-family: "Axiforma";
    }
  }

  button {
    margin: 10px 0 0 auto;
  }
}
