@font-face {
  font-family: "Axiforma";
  src: local("Axiforma"), url(./assets/font/Axiforma-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Bw Vivant';
  src: local('Bw Vivant'), url(./assets/font/Bw\ Vivant/bw-vivant-light.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: "Axiforma", "Bw Vivant" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}